@charset "utf-8";

.container1 .head  {
  margin: 0;
  background-color: #ddd;
  height: 10px;
  font-size: 1px;
}
.container1 .header {
  margin: 0;
  height: 13px;
  background-color: #000;
}
.container1 .header img {
  position: relative;
  width: 20px;
  top: -2px;
}
.container1 .header a {
  font-size: 2px;
  color: #fff;
  position: relative;
  top: -8px; left: 330px;
}
.container1 .main {
  background-image: url(./images/main_2\ 1.svg);
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  color: #fff;
}
.container1 .main p {
  margin: 0;
  padding-top: 120px;
}



.start-page .gg{
  text-align: center;
  margin-top: 25px;

}
.gg span {
  font-size: 16px;
  color: #d6b161;
}

.gg h3 {
  font-size: 18px;
  padding: 0 40px;
}
.gg p {
  font-size: 14px;
  padding: 10px 50px;
}
.container2 {
  text-align: left;
}
.container2 a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}
.container2 p {
  font-size: 14px;
  margin: 10px 30px 0 0;
  text-transform: capitalize;
  margin-bottom: 30px;
}