@charset "utf-8";

.container1 .head  {
  margin: 0;
  background-color: #ddd;
  height: 10px;
  font-size: 1px;
}
.container1 .header {
  margin: 0;
  height: 13px;
  background-color: #000;
}
.container1 .header img {
  position: relative;
  width: 20px;
  top: -2px;
}
.container1 .header a {
  font-size: 2px;
  color: #fff;
  position: relative;
  top: -8px; left: 330px;
}
.container1 .main {
  background-image: url(./images/main_2\ 1.svg);
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  color: #fff;
}
.container1 .main p {
  margin: 0;
  padding-top: 120px;
}



.start-page .gg{
  text-align: center;
  margin-top: 25px;

}
.gg span {
  font-size: 16px;
  color: #d6b161;
}

.gg h3 {
  font-size: 18px;
  padding: 0 40px;
}
.gg p {
  font-size: 14px;
  padding: 10px 50px;
}
.container2 {
  text-align: left;
}
.container2 a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}
.container2 p {
  font-size: 14px;
  margin: 10px 30px 0 0;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.page-content2 {
  background-image: url(./images/16.1.svg);
  height: 1000px;
  text-align: center;
  background-repeat: no-repeat;
}
.page-content2 .heading {
  padding-top: 150px;
}

.page-content2 h3 {
  font-size: 18px;
  color: #333333;
}
.page-content2 p {
  font-size: 14px;
  color: #7e7e7e;
  margin: 40px;
}
.fun .fun1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}
.fun1 i {
  font-size: 30px;
  margin: 25px 10px 0 0;
}


.team-page .head-text {
  text-align: center;
  padding-top: 50px;
}
.team-page .head-text h3 {
  font-size: 18px;
  font-family: '맑은 고딕', sans-serif;
}
.team-page .head-text p {
  font-size: 14px;
  margin: 50px;
  margin-top: 30px;
}
.row ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}
.row .box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.row .box2 {
  display: flex;
  justify-content: space-evenly;
}
.row a:hover {
  color: #000;
}
.row a {
  text-decoration: none;
  color: #00000070;
}
.row .box2 li:nth-child(1) {
  margin-left: 75px;
}
.row .box2 li:nth-child(2) {
  margin-right: 70px;
}
.row img {
  padding: 10px;
}

.survice-page {
  background-color: #f5f5f5;
}
.survice-page .head-text {
  text-align: center;
  margin: 0 0 50px;
}
.survice-page .head-text h3{
  font-size: 18px;
  font-family: "맑은 고딕", sans-serif;
  color: #333333;
}
.survice-page .head-text p {
  font-size: 14px;
  color: #727272;
  padding: 30px 0 0;
}

.survice-page .team1 {
  background-color: #000000d0;
  color: #fff;
  width: 150px;
}